.edit-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem;
    background-color: #35384F;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
    box-shadow: 0 0 0.1rem #0004;
}

.edit-item-title {
    font-size: 1rem;
    color: #999;
}

.edit-item-value {
    font-size: 2rem;
    min-height: 3rem;
    color: white;
}

.edit-item-value-placeholder {
    color: #666;
}

/* ::placeholder {
    color: #fff4;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
} */