.add-button-container {
    display: flex;
    flex-direction: column;
    height: 3rem;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ff8755, #ff365d);
    border-radius: 0.2rem;
}

.add-button-title {
    font-size: 1rem;
    color: white;
}