.result-item-container {
    display: flex;
    flex-direction: column;
}

.result-item-content {
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padding-left-right {
    padding-left: 1rem;
    padding-right: 1rem;
}

.result-item-title {
    font-size: 1rem;
    color: #999;
}

.result-item-value {
    flex: 1;
    text-align: right;
    margin-left: 1rem;
    font-size: 1rem;
    color: #1e2747;
}

.result-item-border {
    height: 1px;
    background-color: #eeeeee;
}