.add-item-container {
    display: flex;
    flex-direction: row;
    height: 4rem;
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.add-item-check {
    width: 1.2rem;
    height: 1.2rem;
}

.add-item-title {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: white;
}